<h1><center>Weather Information</center></h1>

<div class="container">
  <div class="row">
    <div class="col-5">
      <h2>Weather in your city</h1>
      <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="city" class="form-control" placeholder="Put your city name"><br/>
        <input class="btn btn-primary" value="Search" type="submit">
      </form>
    </div>
    <div class="col-5 offset-2">
      {% if cities_info %}
      {% for city_info in cities_info %}
        {% include 'weather/_info.html' with info=city_info %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
