<div class="alert alert-info">
  <div class="row">
    <div class="col-9">
      <b>City:</b> {{info.city}}<br>
      <b>Temperature:</b> {{info.temp}} <sup>o</sup><br>
    </div>
    <div class="col-2 offset-1">
      <img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="Weather icon"
      class="img-thumbnail">
    </div>
  </div>
</div>
